<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
</head>

<body>
  <div class="container">
    <h1 style="margin-bottom: 50px;">
      WTF: What the Flix?
      <small class="text-muted">know your movies/shows/actors/directors</small>
    </h1>
    <div class="row">
      <div class="col-10">
        <select id="select-form-id" class="custom-select custom-select-lg mb-3">
          <option selected>Open this select menu</option>
          <option value="query1">Movies that are released from [year] to [year] with a genre of [genre].</option>
          <option value="query2">Films from [country] in [Language] language released in [year] to [year]</option>
          <option value="query3">Best Faces of a Country</option>
          <option value="query4">Film Performances in a Year</option>
          <option value="query5">Most-casted actors/actresses of a Genre from a Year Interval in a Country</option>
          <option value="query6">Notable Foreign-born Directors of a Country</option>
          <option value="query7">[Actors/Actresses] in the age group of [min age] to [max age] who have casted on a
            movie
            from[country] with an average rating from [min rating] to [max rating]</option>
        </select>
      </div>
      <div class="col-2">
        <button type="button" id="query-btn" class="btn btn-primary btn-lg">Query</button>
      </div>
    </div>
    <div class="row">
      <form id="form-div" class="col">

      </form>
    </div>

    <div id="table-div">

    </div>

  </div>


  <script src="js/home.js" async defer></script>
</body>

</html>